.navbar {
    background-color: black;
    position:fixed;
    top:0;
    width: 100%;
}

.navbar a {
    color: aliceblue;
    float: left;
    text-align: center;
    display: block;
    padding: 14px 16px;
    margin: 50px;
    font-size: large;
}

.navbar a:hover {
    background-color:aliceblue;
    color: black;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
}